.container{
    display: grid;
    grid-template-rows: repeat(9, 1fr) ;
    grid-gap: 10px;
}




.keys {
    background-color: blue;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  